body {
  background-color: #FFE5EC;
}

/* Color para el h1 */
h1 {
  color: #d2335b;
}

/* Color para los demás encabezados */
h2, h3, h4, h5, h6 {
  color: #FB6F92;
}

/* Estilo para el encabezado de la página */
header {
  background-color: #FFC2D1; /* Color de fondo rosadito al header */
  text-align: center;        /* Centra el contenido (como el título) horizontalmente */
  padding: 20px;             /* Espacio interno alrededor del contenido */
  border-radius: 10px;       /* Bordes redondeados para que no se vea tan cuadrado */
}

/* Estilo específico para el título dentro del header (h1) */
header h1 {
  color: #FB6F92;            /* Color rosado fuerte para el texto del título */
  font-size: 360%;           /* Tamaño grande del texto (360% del tamaño base) */
}
.img-circular {
  width: 500px;          /* Tamaño de la imagen */
  height: 500px;
  object-fit: cover;     /* Para que no se deforme */
  border-radius: 50%;    /* Hace que sea circular */
  border: 4px solid #FB6F92; /* Borde rosadito */
  margin: 20px;          /* Espacio alrededor */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
